<div class="container-fluid mt-5 d-none d-md-block justifica-centro">
    <div class="row bg-black">
        <div class="container ptb32">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item" style="text-align: center; font-size: 14px;"><a
                                href="https://google.com.mx" target="_blank">Preguntas
                                Frecuentes</a></li>
                        <li class="list-group-item" style="text-align: center; font-size: 14px;"><a
                                href="https://google.com.mx" target="_blank">Cónocenos</a>
                        </li>
                        <li class="list-group-item" style="text-align: center; font-size: 14px;"><a
                                href="https://google.com.mx" target="_blank">Aviso de
                                Privacidad</a></li>
                        <li class="list-group-item" style="text-align: center; font-size: 14px;"><a
                                href="https://google.com.mx" target="_blank">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-black">
        <div class="container ptb10" style="border-top: 1px solid #fff;">
            <div class="row">
                <div class="col-12 text-white text-center">
                    <p style="font-size: 14px;">Síguenos en:</p>
                    <ul class="list-group" style="color:white;">
                        <li class="list-group-item">
                            <a href="_blank" target="_blank"><img
                                    src="https://storage.googleapis.com/quattrocrm-copsis/biibiic/ico_fb.svg"
                                    class="ico_contacto"></a>
                            <a href="_blank" target="_blank"><img
                                    src="https://storage.googleapis.com/quattrocrm-copsis/biibiic/ico_ig.svg"
                                    class="ico_contacto"></a>
                            <a href="_blank" target="_blank"><img
                                    src="https://storage.googleapis.com/quattrocrm-copsis/biibiic/ico_tw.svg"
                                    class="ico_contacto"></a>
                            <a href="_blank" target="_blank"><img
                                    src="https://storage.googleapis.com/quattrocrm-copsis/biibiic/ico_yt.svg"
                                    class="ico_contacto"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>